<launch>
    <node pkg="topic_tools" type="relay" name="relay_map" output="screen">
        <remap from="/input" to="/slamware_ros_sdk_server_node/map" />
        <remap from="/output" to="/map" />
    </node>
    <node pkg="topic_tools" type="relay" name="relay_odom" output="screen">
        <remap from="/input" to="/slamware_ros_sdk_server_node/odom" />
        <remap from="/output" to="/odom" />
    </node>
    <node pkg="topic_tools" type="relay" name="relay_scan" output="screen">
        <remap from="/input" to="/slamware_ros_sdk_server_node/scan" />
        <remap from="/output" to="/scan" />
    </node>
</launch> 